body {
  background-color: #f8f1e8; }

.gradient-custom {
  background: #f8f1e8; }

.text-beige {
  color: #be9c91;
}

.habit-card {
  background-color: #fff;   border-radius: 1rem;
  padding: 20px;
  margin-bottom: 20px;
}

.form-label {
  color: #be9c91; }

.form-control {
  font-size: 0.9rem;
  background-color: #f5f5f5;   color: #333; }

.btn-outline-light {
  color: #be9c91;   border-color: #be9c91; }

.btn-outline-light:hover {
  background-color: #be9c91;   color: #f5f5f5; }

.card {
  background-color: #fff;   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 30px;
}

.form-outline {
  border-color: #be9c91; }

.text-white-50 {
  color: #be9c91 !important; }

.text-white-50:hover {
  color: #f8f1e8 !important; }

p {
  color: #be9c91; }

.fw-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item {
  flex-basis: calc(50% - 10px);   margin-bottom: 20px;
  background-color: #f8f1e8;
  color:#be9c91;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.flex-item:hover {
  flex-basis: calc(50% - 10px);   margin-bottom: 20px;
  background-color: #be9c91 !important;
  border-color: #be9c91;
  color:#f8f1e8;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.flex-item:focus {
  outline: none;
  transform: scale(1.05);   box-shadow: 0 4px 8px rgba(190, 156, 145, 1); }
.right-icon {
  display: none;
}

.selected .right-icon {
  display: inline-block;
  margin-left: 5px; }

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.btn-primary {
  background-color: #f8f1e8;   border-color: #be9c91;   color: #fff; }

.btn-primary:hover {
  background-color: #be9c91;   border-color: #f8f1e8;   color: #f8f1e8 !important; }

.btn-success {
  background-color: #be9c91;   border-color: #be9c91;   color: #fff; }

.btn-success:hover {
  background-color: #be9c91;   border-color: #be9c91;   color: #fff; }

.container {
  margin-top: 20px;
}

.habit-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #be9c91;
}

.habit-status {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #be9c91;
}

.habit-streak {
  font-size: 18px;
  margin-bottom: 10px;
  color: #be9c91;
}

.habit-table {
  width: 100%;
  border-collapse: collapse;
}

.habit-table th,
.habit-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.habit-name {
  font-size: 18px;
  font-weight: bold;
}

.completed-icon {
  color: green;
}

.not-completed-icon {
  color: red;
}

.icon {
  font-size: 24px;
}

.btn-outline-light {
  color: #be9c91; 
  border-color: #be9c91;
}

.btn-outline-light:hover {
  background-color: #fff;   color: #be9c91; }

.circle-container {
  display: inline-flex;   flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.circle {
  cursor: pointer;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #be9c91;   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.day-date {
  text-align: center;
  color: #333;
  margin-top: 5px;
}

.habit-list {
  list-style: none;
  padding: 0;
}

.habit-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  padding: 5px 0;
}
.habit-item a{
  color: #be9c91;
}
.habit-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #e9ecef;
  padding: 5px 0;
  list-style: none;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.habit-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.habit-title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #be9c91;
}

.habit-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #e9ecef;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.habit-checkbox:checked {
  background-color: #be9c91;
  border-color: #be9c91;
}

.habit-checkbox:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.circle.selected {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

