<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-8 col-xl-8">
        <h2 class="text-center mb-4 text-white-50" id="habitDate"></h2>
        <p class="text-center mb-4" id="habitStreak"></p>

        <div class="habit-card">
          
          <table class="habit-table" id="habitTable">
            <tbody id="habitTableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/javascripts/habitdetail.js"></script>